{% extends 'bootstrap_3_layout.html.twig' %}

{% block _stream_tag_list_row %}
    {{ form_label(form) }}
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-tags"></i>
        </span>
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _photo_tag_list_row %}
    {{ form_label(form) }}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-tags"></i> </span>
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block artist_activity_widget %}
    {% spaceless %}
        {% if expanded %}
            <ul {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <li>
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}