<div class="stream form">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_label(form.name, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ include('form/tag.html.twig', {'classname': 'stream', 'form': form.tags}) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right">{{ 'stream.publish'|trans({}, 'stream') }}</button>
    {{ form_end(form) }}
</div>
