<div class="row">
    {% for stream in streams %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">

                {% set embed = embed(stream.content) %}
                {% if embed %}
                    <img src="{{ embed.image }}" alt="Stream thumbnail">
                    {#{{ include('stream/embed.html.twig', {'embed': embed}) }}#}
                {% endif %}

                {#<img src="http://img.youtube.com/vi/{{ 'video_id' }}/default.jpg" alt="...">#}
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>
                        {% if embed %}
                            {#<img src="{{ embed.image }}" alt="Stream thumbnail">#}
                            {{ include('stream/embed.html.twig', {'embed': embed}) }}
                        {% else %}
                            {{ stream.content }}
                        {% endif %}
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button" title="view">View</a>
                        <a href="#" class="btn btn-default" role="button" title="star"><i class="fa fa-star-o"></i></a>
                        <a href="#" class="btn btn-default" role="button" title="retweet"><i class="fa fa-retweet"></i></a>
                    </p>
                </div>
            </div>
        </div>
        {#{{ include('stream/embed.html.twig') }}#}
    {% endfor %}
</div>

{{ dump(streams) }}
