<div class="photo form">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <div class="row">
        <div class="col-md-12">
            {#{{ include('form/tags.html.twig', {'classname': 'photo', 'form': form.tags}) }}#}
            {{ form_row(form.tags) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right">{{ 'photo.publish'|trans({}, 'photo') }}</button>
    {{ form_end(form) }}
</div>